{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Predict indonesia sugar price" />
    <meta name="keywords"
          content="Django, Machine Learning, Random Forest Regression">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      {% block title %}
        Sugar Prediction
      {% endblock title %}
    </title>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" /> {% endcomment %}
    {% tailwind_css %}
  </head>
  <body class="bg-gray-100 font-lato text-black leading-normal tracking-normal">
    {% block content %}
    {% endblock content %}
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
