{% extends "base.html" %}
{% load static %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    <div class="container mx-auto px-4 py-8">
        {% include "components/dashboard_header.html" %}
        {% include "components/dataset_card.html" %}
        {% include "components/results_card.html" %}
    </div>
    <!-- Modals -->
    {% include "components/training_modal.html" %}
    {% include "components/delete_modal.html" %}
    {% include "components/logout_modal.html" %}
{% endblock content %}
{% block extra_js %}
    <script src="https://cdn.plot.ly/plotly-3.3.0.min.js" charset="utf-8"></script>
    <script src="{% static 'js/modals.js' %}"></script>
    <script src="{% static 'js/dataset_card.js' %}"></script>
    <script src="{% static 'js/results_card.js' %}"></script>
{% endblock extra_js %}
