<div class="relative z-10 hidden"
     role="dialog"
     aria-modal="true"
     id="delete-confirmation-modal">
    <div class="fixed inset-0 bg-black/25 backdrop-filter backdrop-blur-md z-10 w-screen overflow-y-auto modal-overlay">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 text-red-600 sm:mx-0 sm:h-10 sm:w-10">
                            {% include "icons/confirm-warning.svg" %}
                        </div>
                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                            <h3 class="text-base font-semibold leading-6 text-gray-900"
                                id="delete-modal-title">Delete Dataset</h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">
                                    Are you sure you want to delete the dataset "<span id="delete-filename"></span>"? This action cannot be undone.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="button"
                            class="inline-flex w-full justify-center rounded-full bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto"
                            id="confirm-delete-btn"
                            data-csrf-token="{{ csrf_token }}">Delete</button>
                    <button type="button"
                            class="mt-3 inline-flex w-full justify-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
                            id="cancel-delete-btn"
                            data-modal-hide="delete-confirmation-modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
