<div class="flex flex-col space-y-4 md:flex-row md:justify-between md:items-center md:space-y-0 mb-6">
    <!-- Title -->
    <div class="flex items-center space-x-4">
        <div class="bg-indigo-600 p-3 rounded-full text-white">{% include "icons/rocket.svg" %}</div>
        <div>
            <h1 class="text-2xl font-bold text-gray-800">Sugar Price Predictions</h1>
            <p class="text-sm text-gray-500">Forecasting Indonesia Future Sugar Price with Random Forest Regression</p>
        </div>
    </div>
    <!-- Right-side Group (Filter + Button) -->
    <div class="flex flex-wrap items-center justify-center gap-x-2 gap-y-2">
        <!-- Filter -->
        <a href="?price_type=local"
           class="px-4 py-2 text-sm font-medium rounded-full {% if price_type == 'local' %}bg-indigo-600 text-white{% else %}bg-gray-200 text-gray-700{% endif %}">Local</a>
        <a href="?price_type=premium"
           class="px-4 py-2 text-sm font-medium rounded-full {% if price_type == 'premium' %}bg-indigo-600 text-white{% else %}bg-gray-200 text-gray-700{% endif %}">Premium</a>
        <!-- Login/Dashboard Button -->
        <a href="{% if user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'login' %}{% endif %}"
           class="flex items-center justify-center rounded-full bg-gray-100 p-2 text-gray-800 hover:bg-gray-200">
            {% include "icons/login.svg" %}
        </a>
    </div>
</div>
